:root {
    --white: #ffffff;
    --notify: #ff8f00;
    --lightgray: #e5e5e5;

}

.notify {
    color: var(--notify);
}

.bar {
    background-color: #e5e5e5;
}

.header-main {
    background-color: #1b72e8;
}

table span.plan.bg-green {
    background-color: green;
}

table span.plan.bg-red {
    background-color: red;
}

table span.plan.bg-yellow {
    background-color: #ffc107;
}

table tbody tr:first-child {
    background-color: #ececec;
}

.border-gray {
    border-color: lightgray;
}

.stats {
    width: 100%;
}