header #logo {
    height: 50px;
    width: 50px;
}

aside {
    background-color: #051e34;
    height: calc(100vh - 70px);
    width: 75px;
}

aside i, table i {
    height: 25px;
    width: 25px;
}

.main-page {
    width: calc(100vw - 75px);
    height: calc(100vh - 70px);
    overflow: auto;
}

.plan {
    display: inline-block;
    background-color: #165bba;
    border-radius: 20px;
    padding: 1px 10px;
    font-size: 15px;
}

#plus {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: left;
}

table img {
    height: 35px;
    width: 35px;
}

table span.plan {
    border-radius: 8px;
    padding: 1px 5px;
    font-size: 14px;
}

.stats {
    width: 100%;
}